/********************************************
  General
********************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.5em;
  font-family: 'PT Sans', sans-serif;
}

img {
  max-width: 100%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration:  none;
  color: #4a4a4a;
}

a:hover {
  text-shadow: 0 1px 1px lightgrey;
}

/********************************************
  Header
********************************************/

header {
  background-color: rgb(250, 250, 250);
  color: #4a4a4a;
}

header .name {
  margin-top: 0;
  font-weight: bold;
  font-size: 1.75rem;
  padding: 30px 0;
}

.heading {
  text-align: center;
}

.main-nav {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto 40px;
}

.main-nav li {
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 0;
  padding: .6em 0;
}

.description {
  text-align: center;
  padding: 0 20px 10px;
  color: #7f7f7f;
}

.profile-image {
  width: 60%;
}

/********************************************
  Main
********************************************/
main {
  text-align: center;
  background-color: rgba(200, 200, 200, .5);
}
main div {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom:  30px;
}

main div h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 30px 0;
}

.portfolio-div h3 {
  font-size: 1rem;
  color: #4a4a4a;
}

main div ul {
  list-style: none;
  padding: 0;
}

main div ul li {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-div ul li p {
  padding: 0 10px;
  color: #4a4a4a;
}

/********************************************
  Footer
********************************************/
footer {
  background-color: rgb(250, 250, 250);
  text-align: center;
  color: #4a4a4a;
}

footer .contact-div {
  padding-bottom: 30px;
}

footer .contact-div h2 {
  margin-top: 0;
}

footer .contact-div h2 {
  padding: 40px 0 20px;
  font-size: 1rem;
  text-transform: uppercase;
}

footer .contact-div p {
  padding: 0 20px;
}

footer .contact-div a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: bold;
}

.home,
.portfolio,
.contact,
.skills {
  display: none;
}

footer .ending {
  padding: 15px 0;
  border-top: 1px solid #b39c9c;
  width: 90%;
  margin: 0 auto;
}

footer .ending-name {
  float: left;
  font-size: .75rem;
}

footer .ending-nav {
  float: right;
  font-size: .75rem;
}

/********************************************
  Responsive
********************************************/
/* Medium Screen Size */
@media (min-width: 768px) {

  /***********************************
    Header
  ***********************************/
  header .name {
    margin-bottom: 0;
  }
  .main-nav li {
    display: inline-block;
    margin-left:3%;
    margin-right: 3%;
    background-color: rgb(250, 250, 250);
  }

  header {
    padding-bottom: 30px;
  }

  .profile-image {
    float: right;
    width: 40%;
  }
  .description p {
    float: left;
    width: 60%;
    padding-right: 20px;
    margin-top: 0;
  }

  /***********************************
    Main
  ***********************************/
  .portfolio-div ul li {
    width: 49%;
    float: left;
  }

  .portfolio-div ul li:nth-child(2n+1) {
    clear: left;
  }

  .portfolio-div ul li:nth-child(2n) {
    margin-left: 2%;
  }

  /***********************************
    Footer
  ***********************************/
  footer .contact-div p {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .back-to-top {
    display: none;
  }
  .home,
  .portfolio,
  .contact,
  .skills {
    display: inline-block;
    padding-left: 12px;
  }
}

/* Large Screen Size */
@media (min-width: 1024px) {
  /***********************************
    Header
  ***********************************/
  .heading,
  .description {
    width: 90%;
    margin: 0 auto;
  }

  .heading {
    padding-top: 40px;
  }

  .heading .name {
    float: left;
    padding: 0;
    width: 30%;
    text-align: left;
  }

  .main-nav {
    float: right;
    width: 70%;
    text-align: right;
  }

  .main-nav li:last-child {
    margin-right: 0;
  }

  .description {
    padding: 0;
    text-align: left;
    font-size: 1.5rem;
  }

  /***********************************
    Main
  ***********************************/
  .portfolio-div ul li {
    width: 32%;
    float: left;
  }
  .portfolio-div ul li {
    margin-left: 2%;
  }

  .portfolio-div ul li:nth-child(2n+1) {
    clear: none;
  }

  .portfolio-div ul li:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
  }
}
